{% extends "base.html" %}
{% block title %}Facturación - JLM Connect 360{% endblock %}
{% block content %}
<section class="mb-5 p-4 section-custom">
    <h2 class="text-center mb-2">Facturación</h2>
    <p class="text-center">
    <a href="{{ url_for('nueva_factura') }}" class="btn btn-outline-primary">+ Registrar nueva factura</a>
    </p>
   
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead><tr><th>N° Factura</th><th>Cliente</th><th>Monto</th><th>Estado</th></tr></thead>
            <tbody>
                {% for factura in facturas %}
                <tr>
                    <td>{{ factura.numero }}</td>
                    <td>{{ factura.cliente }}</td>
                    <td>{{ factura.monto }}</td>
                    <td>
                        {% if factura.estado == 'Pagada' %}
                        <span class="badge bg-success">{{ factura.estado | upper }}</span>
                        {% else %}
                        <span class="badge bg-danger">{{ factura.estado | upper }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}